<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:lang="ru">
<head>
    <title>Функция RLE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div class="container-md">
    <br/>
    <a class="list-group-item list-group-item-action" th:href="@{'/'}">Вернуться к списку</a>
    <br/>
    <h3 class="p-3 mb-2 bg-primary text-white">Функция RLE</h3>
    <form th:action="@{/compressstring}" th:object="${compressStringDTO}" method="POST">
        <p>
            Дана строка (возможно, пустая), состоящая из букв A-Z:<br>
            AAAABBBCCXYZDDDDEEEFFFAAAAAABBBBBBBBBBBBBBBBBBBBBBBBBBBB<br>
            Нужно написать функцию RLE, которая на выходе даст строку вида:<br>
            A4B3C2XYZD4E3F3A6B28<br>
            И сгенерирует ошибку, если на вход пришла невалидная строка.<br>
            Пояснения:<br>
            Если символ встречается 1 раз, он остается без изменений;<br>
            Если символ повторяется более 1 раза, к нему добавляется количество повторений.
        </p>
        <br>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Введите строку:</span>
            <input class="form-control" type="text" th:field="*{inputStr}"/>
        </div>
        <input class="btn btn-primary" type="submit" value="Вычислить"/>
    </form>
    <br>
    <div th:if="${not #lists.isEmpty(results)}">
        <h3 class="p-3 mb-2 bg-primary text-white">Результаты сжатия строк:</h3>
        <table class="table table-striped table-hover" border="1">
            <tr class="table-ligth">
                <th>Исходная строка</th>
                <th>Результат</th>
            </tr>
            <tr th:each="result : ${results}">
                <td th:utext="${result.inputStr}">...</td>
                <td th:utext="${result.resultStr}">...</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>