<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="ru">
<head>
    <title>Тестовые задания решаемые на технических собеседованиях. Проект для Spring Boot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div class="container-md"><br>
    <h3 class="p-3 mb-2 bg-primary text-white">Список представленных задач</h3>
    <a class="list-group-item list-group-item-action" th:href="@{'/quadraticequation'}">Решение квадратного уравнения</a>
    <a class="list-group-item list-group-item-action" th:href="@{'/compressstring'}">Функция RLE</a>
    <a class="list-group-item list-group-item-action" th:href="@{'/deleteduplicates'}">Функция удаления дублирующихся значений</a>
</div>
</body>
</html>